/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
font-family: Open Sans;
}

h1, h2, h3, h4 {
font-family: Poppins;
}



h1 {
font-family: 'Roboto', sans-serif;
font-size: 30px;
color: red;
}
h2 {
font-family: 'Roboto', sans-serif;
font-size: 17px;
}


#banner {
background-image: url(https://picsum.photos/id/128/1000/600);
background-size: cover;
padding: 150px 0;
text-align: center;
color: red; 
}

#banner h1 {
color: white
}

#banner p {
color: white;
font-size: 20px; 
font-weight: lighter;
}

#banner a {
color:black;
font-size: small;
text-decoration: none;
background: #FFC017;
padding: 10px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

#banner a:hover {
  background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.card {
padding: 50px;
text-align: center;
display: flex;
justify-content: space-between;
margin: 0px 6px;
flex-grow: 1;
}

.card img {
  border-radius: 4px;
  box-shadow: 0 16px 36px rgba(0,0,0,0.2)
}


#footer {
background: black;
color: white;
font-size: 20px;
padding: 20px;
list-style: none;
}
